*, *:after, *:before {
    box-sizing: border-box;
}

.container,
.container-fluid {
    margin: 0 auto;
    position: relative;
    min-height: 1px;
    
}
.container {
    max-width: 1280px;
    
}

.row {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0 15px;     
    &.items-center {
        justify-content: center;
    }
    &:after {
        display: block;
        content: "";
        clear: both;
    }
    &.no-gutters {
        padding: 0;
    }    
    @media (max-width: 767px) {
        & {
            flex-direction: column;
        }
    }  
}

.container-fluid {
    width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12
 {
    position: relative;
    padding: 0 15px;
    min-height: 1px;
}
.col-12 {
    width: 100%;
}
.col-11 {
    @include col-width($grid, 11);
}

.col-10 {
    @include col-width($grid, 10);
}

.col-9 {
    @include col-width($grid, 9);
}

.col-8 {
    @include col-width($grid, 8);
}
.col-7 {
    @include col-width($grid, 7);
}

.col-6 {
    @include col-width($grid, 6);
}

.col-5 {
    @include col-width($grid, 5);
}

.col-4 {
    @include col-width($grid, 4);
}

.col-3 {
    @include col-width($grid, 3);
}

.col-2 {
    @include col-width($grid, 2);
}

.col-1 {
    @include col-width($grid, 1);
}

.align-middle {
    float: none;
    margin: auto;
}