$width-100: 100%;
$grid: 12;
$font-roboto-slab: 'Roboto Slab',
serif;
$font-caption: 'PT Serif Caption',
serif;

$primary-color: rgb(209, 69, 70);
$yellow: #F6F5AE;
$white: #F7F7FF;
$olive-black: #3D3B30;
$gray: #948D9B;
$black: #00120B;
$pale: #D3BCC0;
$blue: #0496FF;
$green: #A0C83D;
$onyx: #36413E;
$btn-edit-color: #6B3F43;
$btn-remove-color: #937376;
$btn-cancel-color: #BBA7A9;


@mixin col-width($grid, $col) {
    width: 100% / $grid * $col;

    @media (max-width: 768px) {
        & {
            width: 100%;
        }
    }
}

@mixin btn($color) {
    background-color: $color;
    border: 1px solid $color;
    box-shadow: 2px 2px 4px transparentize($color, .1);
    transition: all .3s ease-in-out;

    &:hover {
        background-color: darken($color, 10%);
    }

    &:active {
        background-color: darken($color, 15%);
        box-shadow: 00px 0px 30px transparentize($btn-cancel-color, .01);
    }
}


@mixin inputBtn($color) {
    border-radius: 100%;

    i {
        color: $color;
        pointer-events: none;
    }

    &:hover {
        &>i {
            color: darken($color, 10%);
        }
    }

    &:active {
        &>i {
            color: darken($color, 15%);
        }

        box-shadow: 5px 5px 10px transparentize($color, .4);
    }
}